/*background:linear-gradient(to bottom right, red, blue); to make it to color in the same time */
#top {
    display: flex;
    height: 25vh;
    background-color: rgb(149, 208, 208);
    /*#043382*/
    justify-content: center;
    /* Centers the menu horizontally */
}

body {
    background: #ebe9e9;
}

#header {
    text-align: center;
    /* Center the text horizontally */
    width: 100%;
    /* Make the header span the entire width */
    position: absolute;
    /* Position the header absolutely */
    left: 50%;
    /* Move it to the center horizontally */
    transform: translateX(-50%);
    /* Correct the offset to perfectly center it */
    z-index: 1;
    /* Ensure it stays on top of other content */
}

/* home page*/
#home {
    display: flex;
    flex-direction: row;
}

#left {
    width: 240px;
    background-color: rgb(149, 208, 208);
}

#right {
    width: 80%;
}

#foto {
    width: 265px;
    height: 265px;
    border-radius: 50%;
}

#container {
    margin: 20px auto;
    width: 80%; /* Adjust width for better readability */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



/*about page*/

#about {
    margin-top: 30px;
    padding: 20px;
    width: 80%; /* Adjust width for consistency */
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#about h1 {
    margin-top: 20px;
}

/*contact page */

.contactLista {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Adjust the width to fit the content */
    margin: 0 auto; /* Center horizontally within its parent */
    margin-top: 50px;
}

.contactLista li {
    list-style: none;
}

.contactLista ol {
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
}

.contactLista h1 {
    font-size: 45px;
    margin-bottom: 0px;
}

.contactLista a {
    color: black;
    text-decoration: none;
    border: 2px outset rgb(149, 208, 208);

}